

body{
  background-color: black;
  color:white;
  font-family: 'Gloria Hallelujah', cursive;
  min-width: 420px;
}
.container{
  margin:10px;
}

.jumbotron {
background-color: #222222;

}

.jumbotron img {
  width: 120px;
}

span {
  margin: 10px;
}
.alert {
  margin:20px;
}

.gameplay {
margin:20px auto;
width: 300px
}
.row {
  margin: 10px;
}

td {
  width: 100px;
  height: 100px;
  font-size: 250%;
}

td:hover {
  background-color: #333333;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 100px;
  height: 30px;
  background-color: red;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: black;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 30px;
  background-color: red;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: green;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  background-color:green;
}

@media screen and (max-width: 767px) {
  body, h1, h3 {
      font-size: 1.2em;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  body, h1, h3 {
      font-size: 1.5em;
  }
}

/* md */
@media screen and (min-width: 992px) {
  body, h1, h3 {
      font-size: 1.8em;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  body, h1, h3 {
      font-size: 2em;
  }
}